{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Ashley Jones has been connected with an NHS dentist
      </h1>
      <!--Card Start-->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Molar Crown Dental
      
          </h3>
          <p class="nhsuk-card__description">123 This Street<br>
            This Town <br>Your County<br>CF10 1NS<br>

            <h3> This practice has:</h3>
            <ul>
              <li>[practice feature – dynamic content] </li>
              <li>[practice feature – dynamic content] </li>
              <li>[practice feature – dynamic content] </li>
            </ul>
            <p>If you do not respond by [date – dynamic content] we will assume that you no longer need a place at an NHS dental practice and your details will be removed from the Dental Access Portal.</p>

            <p>Please respond within [dynamic 28 consecutive] days.</p>
            <p>The Dental Practice <b>will not contact you</b> until you accept the allocation.</p>
            <p>Go to <a href="#">111.nhs.uk</a> or <a href="#">call 111</a></p>
        </p>
        <a href="/templates/question-page" class="nhsuk-button">
            Accept allocation
          </a>
          <a href="/templates/question-page" class="nhsuk-button nhsuk-button--secondary">
            Reject aallocation
          </a>
        </div>
      </div>
      <!--Card End-->
      <!--
      <p>Use this service to:</p>

      <ul>
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>


      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you live in the UK.</p>

      <a href="/templates/question-page" class="nhsuk-button">
        Start now
      </a>

    </div>
 
  </div>
 -->
{% endblock %}
